<!DOCTYPE html>
<html>
	<head>
      <meta
      name="viewport"
      content="
        width=device-width,
        initial-scale=1,
        minimum-scale=1,
        maximum-scale=1"
      />
      <title><%= title %>	</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/categoryStyle.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/RSVPGenerator.js"></script>
    </head>
			
    <body>


				<main role="main">


          <div class="banner">




            <header>
              <div style="padding: 5px;">
                <img src="/images/logo.png"  style="width:81.675px;height:33.75px;display: inline-blocks;white-space: nowrap; text-indent: -9999px; overflow: hidden;" ></img>
              </div>      
            </header>


            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">All Categories</li>
              </ol>
            </nav>
            

            <section id="banner-contents">
                <h1 class="title"> All Categories </h1>
                <div id="rsvp_div" class="rsvp_div"> ... </div>
            </section>

          
          
          </div>






          <section id="categorySection" class="wrapper">
            <% dataSet.categories.forEach(function(currentCategory){        
               var nameFormatted = currentCategory.name.split(' ').join('_').replace(/,/g, '').toLowerCase().replace(/&_/, '');
            %>
              <div class="gridsquare" style="font-style: bold; font-size: 10px; padding: 5px;">
                <a class="catName" href="/allCategories/<%=nameFormatted%>"><%=currentCategory.name%></a>
                <img src="<%=currentCategory.image.replace(/\/public/, ''); %>" onclick="GenerateRSVP(<%=JSON.stringify(currentCategory)%>)"></img>
              </div>

              <% }) %>


          </section>
          <script>    
            var i = 0;
            var speed = 150;
            var functionRunning = false;
            var interval;
            
            function GenerateRSVP(unparsed) {
              //split all phrases into single words
              var currentPhrase;
              var currentCategory = unparsed;
              var text = currentCategory.subcategories.map(current=>current.name);
              var counter = 0;
              var textFormatted;
              var gapObject = {};
              gapObject.name = ".";

              var joined = text.join(',');
              text = joined.split(/,|&/);





              clearInterval(interval);
              interval = setInterval(()=>{
                  if(counter >= text.length-2) {
                    clearInterval(interval);
                  }
                  counter++;
                  document.getElementById('rsvp_div').innerHTML = text[counter];
                  // console.log(text[counter].name);
                }, speed);
              }
            
          </script>

          
				</main>
			</body>
		</html>
